include ./includes/helpers.jade
doctype html
html(lang="en")
  include ./includes/head.jade
  body
    .containercontainer-fluid
      include ./includes/navbar_default.jade

      .container-fluid
        .row
          .col-md-12
            h1.text-center Active Sessions
               span.badge= sessions.length

            table.table.table-striped.table-bordered
              thead
                tr
                  th #
                  th Client name
                  th Real IP -> VPN IP
                  th RX
                  th TX
                  th Connected Since
              tbody
              each session, idx in sessions
                tr
                  td= (idx + 1)
                  td
                    a(href="/clients/"+session.client.name)= session.client.name
                  td #{session.real_ip} -> #{session.vpn_ip}
                  td= getHumanSize(session.rx)
                  td= getHumanSize(session.tx)
                  td= session.start_time

    include ./includes/footer.jade
